<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'bus:route'%}">
        <label>
            <input type="text" name="bus_route">Bus Route<br>
            <input type="time" name="bus_time">Bus Time<br>
            <input type="number" name="bus_ticket">Ticket rate<br>
            <input type="submit">
        </label>
    </form>
</body>
</html>